<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.puda.mapper.UserRoleRelationMapper">

    <!--主键一一对应-->
    <resultMap id="resourceBean" type="cn.puda.entity.Resource" >
        <id  column="id" property="id"/>
        <result column="create_time" property="createTime" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="description" property="description" />
    </resultMap>

    <select id="getResourceList" resultMap="resourceBean">
        select
            pr.*
        from
            pd_user_role_relation ur
            left join pd_role r on  r.id = ur.`role_id`
            left join pd_role_resource_relation rr on rr.role_id = r.id
            left join pd_resource pr on pr.id = rr.resource_id
        where
            ur.user_id =  #{id}
        and
            pr.id IS NOT NULL
        GROUP BY
            pr.id
    </select>

    <delete id="deleteAll" >
        delete from pd_user_role_relation where user_id = #{userId}
    </delete>

    <!--批量添加-->
    <insert id="insertAll">
        insert  into pd_user_role_relation (user_id,role_id) values
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.userId,jdbcType=BIGINT},#{item.roleId,jdbcType=BIGINT})
        </foreach>
    </insert>
</mapper>